* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    /* scroll-behavior: smooth; */
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
    background-color: #4e4e4e;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

a, a:hover, a:active {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

h1, h2, h3 {
    font-family: 'Sacramento', cursive;
}

img {
    width: 100%;
}

.main-wrapper {
    max-width: 1280px;
    margin: auto;
}


.main-wrapper .menu {
    width: 100%;
    height: 60px;
    background-color: #4e4e4e;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.main-wrapper .menu .menu-logo {
    font-family: 'Sacramento', cursive;
    font-size: 24px;
    margin: 10px auto;
    align-self: center;
    text-align: center;
    cursor: pointer;
}

.main-wrapper .menu ul {
    display: none;
    list-style: none;
    /* width: 500px; */
}

.main-wrapper .menu ul li{
    display: inline;
    width: calc(100%/3 - 10px);
    margin: 0 10px;
    vertical-align: middle;
    font-weight: 300;
    text-transform: uppercase;
}

.main-wrapper .menu .menu-logo:hover, .main-wrapper .menu .menu-logo:active, .main-wrapper .menu ul li:hover, .main-wrapper .menu ul li:active, .main-wrapper .menu .active {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.main-wrapper .menu .active {
    border-bottom: 1px solid #fff;
}

.header {
    width: 100%;
    height: 100vh;
    background-color: #4e4e4e;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 2;
}

.main-wrapper .main-title {
    font-size: 72px;
    text-align: center;
    margin: 20px auto 0 auto;
}

.minor-title {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}

.follow {
    font-size: 24px;
    background-color: transparent;
    border: none;
    color: #fff;
    margin: 20px auto;

    position: absolute;
    bottom: 0px;
    left: calc(50% - 24px);

    cursor: pointer;
}

.header .follow:hover {
    color: #a8a8a8;
}

.main-wrapper .section {
    width: 100%;
    min-height: 100vh;
    padding: 60px 20px;
    position: relative;
}

.main-wrapper .section .sec-title {
    width: 100%;
    padding: 20px 0;
    font-size: 48px;
    text-align: center;
}

.main-wrapper .section .ter-title {
    width: 100%;
    padding: 20px 0;
    font-size: 36px;
}

.main-wrapper .section .work-container {
    max-width: 1280px;
    width: 100%;
    margin: 20px auto;
}

.main-wrapper .section .work-container .work-category {
    margin: 20px auto;
    text-align: center;
}

.main-wrapper .section .work-container .work-category img{
    border-radius: 50%;
    margin: 20px auto;
    width: 250px;
    height: 250px;
    background-color: #fff;

    object-fit: cover;
}

.main-wrapper .section .work-container .work-category .headline {
    line-height: 1.5;
}

.main-wrapper .section .work-container .work-category .work-btn {
    background-color: transparent;
    color: #fff;
    font-family: 'Sacramento', cursive;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    width: 50px;
    height: 30px;
    line-height: 40px;
    margin: 20px auto;
    cursor: pointer;
}

.main-wrapper .section .work-container .work-category .work-btn:hover {
    background-color: #6e6e6e;
}

.main-wrapper .section#about {
    max-width: 1280px;
    text-align: center;
    margin: auto;
}

.main-wrapper .section .about-info, .main-wrapper .section .contact {
    margin: 20px auto;
}

.main-wrapper .section .about-info img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.main-wrapper .section .about-info p {
    max-width: 400px;
    margin: auto;
}

.main-wrapper .section .contact i {
    font-size: 28px;
    padding: 0 2px;
}

.main-wrapper .section .contact i:hover, .main-wrapper .section .contact i:active {
    opacity: 0.4;
}

@media all and (min-width: 990px) {

    .main-wrapper .menu ul {
        display: block;
    }

    .main-wrapper .menu .menu-logo {
        margin: 0 10px;
        font-size: 32px;
    }

    .header .main-title {
        font-size: 120px;
    }

    .main-wrapper .section .sec-title {
        text-align: left;
        font-size: 64px;
    }
    
    .main-wrapper .section .ter-title {
        font-size: 48px;
    }    

    .main-wrapper .section .work-container .work-category {
        margin: 25px;
        display: inline-block;
        width: calc(100%/3 - 53px);
        vertical-align: top;
    }

    .main-wrapper .section#about {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .main-wrapper .section .about-info p {
        text-align: left;
    }

    .main-wrapper .section .about-info img {
        float: left;
        margin-right: 10px;
    }

    .main-wrapper .section .about-info, .main-wrapper .section .contact {
        min-width: calc(100%/3);
        margin: 20px;
        height: 200px;
    }

    .main-wrapper .section .contact .contact-icons {
        text-align: left;
    }

    .main-wrapper .section .contact i {
        text-align: left;
    }

}

/*============================

INSIDE CONTENT 

=============================*/

.main-wrapper .section .project {
    margin: 20px auto 40px auto;
}

.main-wrapper .section .ter-title span {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.main-wrapper .section .project:last-of-type {
    margin: 20px auto 0 auto;
}

.main-wrapper .section .project img.large {
    display: block;
    width: 100%;
    max-width: 1024px;
    margin: 20px auto;
}

.main-wrapper .section .project img.float-left {
    float: left;
    margin-right: 20px;
} 

.main-wrapper .section .project img.float-right {
    float: right;
    margin-left: 20px;
} 

.main-wrapper .section .project .project-description {
    max-width: 1280px;
    margin: 20px auto;
    padding: 0 20px;
    font-size: 18px;
    line-height: 1.5;
}

.main-wrapper .section .project .project-description a {
    text-decoration: underline;
}

.main-wrapper .section .project .project-description a:hover {
    opacity: 0.5;
}

@media all and (min-width: 990px) {

    .main-wrapper .section .project .column-1 {
    }

    .main-wrapper .section .project .column-2 {
        display: inline-block;
        vertical-align: top;
        width: calc(100%/2 - 45px);
        margin: 0 20px;
    }

    .main-wrapper .section .project .column-4 {
        margin: 20px auto 0 auto;
    }

    .main-wrapper .section .project .column-4 img{
        display: inline-block;
        vertical-align: top;
        width: calc(100%/4 - 25px);
        margin: 0 10px;
    }

    .main-wrapper .section .project .column-2 .vertical {
        height: 500px;
        object-fit: contain;
        margin: auto;
        display: block
    }


    .main-wrapper .section .project .column-2 .horizontal {
        height: 300px;
        object-fit: cover;
        margin: 10px auto;
        display: block;
        border: 5px solid #fff;
        box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.4);
    }


    .main-wrapper .section .project .column-2 .vertical.border {
        height: 500px;
        width: auto;
        border: 5px solid #fff;
        box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.4);
        object-fit: contain;
    }

    .main-wrapper .section .project .column-2 .half-column {
        height: 243.5px;
        object-fit: contain;
    }

    .main-wrapper .section .project .column-2 .half-column:nth-child(1){
        margin-bottom: 10px;
    }

    .main-wrapper .section .project {
        margin: 20px auto 80px auto;
    }
    
}

/*============================

FOOTER

=============================*/

.main-wrapper footer .footer-btn {
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-wrapper footer .footer-btn button{
    background-color: transparent;
    color: #fff;
    font-family: 'Sacramento', cursive;
    font-size: 32px;
    margin: 20px;
    cursor: pointer;
}

.main-wrapper footer .footer-btn button:hover, .main-wrapper footer .footer-btn button:active {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}